*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    background-color: #222;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
}

nav a:hover{
    color: #ff6347;
    transition: 0.3s;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: 500;
}

nav li: last-child a{
    background-color: #ff6347;
    padding: 8px 15px;
    border-radius: 5px;
}

nav li: last-child a:hover{
    background-color: #e5533d;
    color: black;
}

.active{
    color: red;
}